span.required {
    font-weight: bold;
    color: red;
}
a.action-btn{
    margin: 1px; !important;
}

.button-lot {
    color: #fff;
    background-color: #6aac85;
    border-color: #84d0a1;
    box-shadow: none;
}

.button-lot:hover{
    color: #fff;
}

.button-lot-waiting {
    color: #5d1f1f;
    background-color: #f9e21e;
    border-color: #f9e21e;
    box-shadow: none;
}

.button-lot-waiting:hover{
    color: #5d1f1f;
    border-color: #b4a41c;
}

.button-lot-running {
    color: #000;
    background-color: #01d7fd;
    border-color: #01d7fd;
    box-shadow: none;
}

.button-lot-running:hover{
    color: #000;
    border-color: #00a1bd;
}

.button-lot-finished {
    color: #5d1f1f;
    background-color: #57ff63;
    border-color: #57ff63;
    box-shadow: none;
}

.button-lot-finished:hover{
    color: #5d1f1f;
    border-color: #43b44d;
}


.button-lot-active {
    color: #ffffff;
    background-color: #00aa6b;
    border-color: #00aa6b;
    box-shadow: none;
}

.button-lot-active:hover{
    color: #ffffff;
    border-color: #7cffb8;
}

.button-lot-inactive {
    color: #ffffff;
    background-color: #c3003f;
    border-color: #c3003f;
    box-shadow: none;
}

.button-lot-inactive:hover{
    color: #ffffff;
    border-color: #600022;
}

.btn-assign-lot{
    color: #00706e;
    background-color: #ffda00;
    border-color: #ffda00;
    box-shadow: none;
}

.btn-assign-lot:hover{
    color: #00706e;
    border-color: #927c00;
    /*color: #ffda00;*/
    /*border-color: #00706e;*/
    /*background-color: #00706e;*/
}

